/* Styles généraux pour le corps */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Style de la barre de navigation */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  
  .auth-links a {
    color: white;
    margin-left: 10px;
    font-size: 14px;
  }
  
  .auth-links a:hover {
    color: #4CAF50; /* Couleur verte pour le survol */
  }
  
  /* Positionnement du logo */
  .logo img {
    width: 60px; /* Taille du logo */
    height: auto;
    margin-right: 40px;
  }
  
  /* Style de l'en-tête */
  .header {
    text-align: center;
    padding: 50px;
    background-image: url('https://source.unsplash.com/1600x900/?seafood');
    background-size: cover;
    color: black;
    position: relative;
  }
  
  .header h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .header p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .poulpe-image {
    width: 50%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Style du footer */
  footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  